<section id="caja" >
    <h3 style="text-align: center; color: white;" class="mt-3"> Informacion de su Cita </h3>
    <div class="row">
        <div class="col-6">
            <br> <br><br> <br>

<form action=" ">
    <div class="row mb-4">
        <div class="col-6 text-center">
            <label  style="color: white; font-size: 18px;" for=""> Abogado Asignado</label>
        </div>
        <div class="col-6">
            <input  disabled type="text" class="form-control">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-6 text-center">
            <label style="color: white; font-size: 18px;" for=""> Contacto </label>
        </div>
        <div class="col-6">
            <input disabled type="text" class="form-control">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-6 text-center">
            <label style="color: white; font-size: 18px;" for=""> Fecha de Cita</label>
        </div>
        <div class="col-6">
            <input  disabled type="text" class="form-control">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-6 text-center">
            <label style="color: white; font-size: 18px;" for=""> Hora de Cita</label>
        </div>
        <div class="col-6">
            <input disabled type="text" class="form-control">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-6 text-center">
            <label style="color: white; font-size: 18px;" for=""> Direccion </label>
        </div>
        <div class="col-6">
            <input disabled type="text" class="form-control">
        </div>
    </div>
    
    <div class="row mb-4">
        <div class="col-4"></div>
        <div class="col-6 ">
            <button class="form-control"> Eliminar Cita </button>
        </div>
    </div>
    
   

</form>
        </div>
        <div class="col-6 text-center">
            <br><br><br>
        <img src="../../../assets/citas.png" style="width: 330px; height: 330px;" alt="">
        </div>
    </div>
</section>